In [33]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.0.3'

In [22]:
df = pd.read_csv("housing.csv")
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [23]:
df.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
20635,False,False,False,False,False,False,False,False,False,False
20636,False,False,False,False,False,False,False,False,False,False
20637,False,False,False,False,False,False,False,False,False,False
20638,False,False,False,False,False,False,False,False,False,False
20639,False,False,False,False,False,False,False,False,False,False

In [9]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [13]:
opc = df['ocean_proximity'] == 'NEAR OCEAN'
opcdata = df[opc]

In [14]:
average = opcdata['median_house_value'].mean()
print(average)

249433.97742663656

In [12]:
print(df.tail())

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

In [24]:
average_total_bedrooms = df['total_bedrooms'].mean()
print(average_total_bedrooms)

537.8705525375618

In [26]:
df['total_bedrooms'].fillna(value=average_total_bedrooms, inplace=True)

In [27]:
average_total_bedrooms = df['total_bedrooms'].mean()
print(average_total_bedrooms)

537.8705525375617

In [28]:
island_data = df[df['ocean_proximity'] == 'ISLAND']

In [30]:
selected_columns = ['housing_median_age', 'total_rooms', 'total_bedrooms']
selected_data = island_data[selected_columns]

In [31]:
X = selected_data.values

In [34]:
XTX = np.dot(X.T, X)

In [35]:
XTX_inverse = np.linalg.inv(XTX)

In [36]:
y = np.array([950, 1300, 800, 1000, 1300])

In [37]:
w = np.dot(np.dot(XTX_inverse, X.T), y)

In [38]:
last_element_of_w = w[-1]

In [39]:
print(last_element_of_w)

5.6992294550655656